.size{
    font-size: small;
    font-weight: 400;
    color: #575d79;
}
.card-price span{
    font-size: small;
    font-weight: 600;
}
.small-ratings{
    padding-top: -1px;
}
.borr img{
    padding-top: 20px;
    width: 80%;
}
.feature{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width: 390px) {
    .pagina{
        display: none;
    }
    .productcard .row .borr{
        border: 1px solid #cacbce;
        width: 100%;
    } 
}